<div class="container">
  <h2>Asignar IP</h2>
  <div class="well">
    <%= link_to "Asignar IP", new_empleado_path, remote:true, class: "btn btn-primary" %>
  </div>
  <div class="new-empleado"></div>
  <table id class="table table-bordered table-striped">
    <thead>
      <tr>
        <%= form_tag(empleados_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
         <%= submit_tag "Search", :name => nil %>
       <%end%>
        
        <th>Numero de empleado</th>
        <th>Nombre</th>
        <th>IP</th>
        <th>MAC ADDRESS</th>
        <th>Departamento</th>
      </tr>
    </thead>
    <tbody id="empleados">
      <%= render @empleados %>
    </tbody>
  </table>
  
  <%= render 'dialog' %>

</div>